.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.sort_wrapper > h3,
.price_wrapper > h3,
.discount_wrapper > h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.sort_wrapper,
.discount_wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.price_wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.sort_wrapper > select {
  width: 219px;
  height: 40px;
  border: 1px solid #000000;
  border-radius: 7px;
  padding: 10px 0 10px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #797979;
}

.input_checkbox {
  display: none;
}

.input_checkbox + label::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 7px;
  cursor: pointer;
  user-select: none;
}

.input_checkbox:checked + label::before {
  content: "✓";
  text-align: center;
  line-height: 40px;
  font-size: 40px;
  background-color: white;
  color: black;
}

.filter_icon {
  display: none;
}

@media screen and (max-width: 1080px) {
  .sort_wrapper > h3,
  .price_wrapper > h3,
  .discount_wrapper > h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .sort_wrapper,
  .discount_wrapper {
    gap: 15px;
  }
}

@media screen and (max-width: 900px) {

  .filter_icon {
    display: block;
  }

  .container{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 53px;
    width: 100%;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  .active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  .sort_wrapper > select {
    width: 40%;
    height: fit-content;
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
    border-radius: 5px;
  }

  .input_checkbox + label::before {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

  .input_checkbox:checked + label::before {
    line-height: 20px;
    font-size: 20px;
  }
}
