.container {
  width: 100%;
  background-image: url("../../../public/discount_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: center;
  justify-items: center;
  height: fit-content;
  padding: 30px;
}

.content_wrapper{
  justify-self: flex-start;
}

.image_container > img {
  width: 420px;
  height: 420px;
}

.first_title {
  font-size: 90px;
  font-weight: 700;
  line-height: 108px;
  color: white;
}

.second_title {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  color: white;
  margin-bottom: 45px;
}

.error_message {
  margin: 10px 0 0 25px;
  font-weight: 600;
}

@media screen and (max-width: 1100px) {
  .image_container {
    display: none;
  }

  .discount_form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px){

  .wrapper{
    grid-template-columns: 1fr;
  }

  .first_title{
    font-size: 35px;
    line-height: 35px;
  }
  .second_title{
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px){
  .first_title{
    font-size: 20px;
    line-height: 22px;
  }

  .second_title{
    font-size: 24px;
    line-height: 26px;
  }
}
