.header_button {
  padding: 15px 30px;
  background-color: #339933;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  margin-left: 60px;
  cursor: pointer;
}

.sale_btn {
  border-radius: 13px;
  padding: 25px 50px;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  color: black;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.more_btn {
  border-radius: 13px;
  border: 2px solid white;
  padding: 25px 40px;
  background-color: transparent;
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.categories_btn {
  border: 2px solid #8b8b8b;
  padding: 6px 15px;
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.cart_btn {
  width: 450px;
  height: 70px;
  background-color: #339933;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  margin-top: 20px;
}

.discount_btn {
  border-radius: 25px;
  width: 470px;
  height: 70px;
  background-color: transparent;
  border: 3px solid white;
  font-size: 28px;
  font-weight: 700;
  color: white;
  padding: 20px 120px;
  text-align: center;
  margin-top: 30px;
}
