.header_button {
  padding: 15px 30px;
  background-color: #339933;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.sale_btn {
  border-radius: 13px;
  padding: 25px 50px;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  color: black;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.more_btn {
  border-radius: 13px;
  border: 2px solid white;
  padding: 25px 40px;
  background-color: transparent;
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.categories_btn {
  border: 2px solid #8b8b8b;
  padding: 6px 15px;
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.6px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.cart_btn {
  width: 450px;
  height: 70px;
  background-color: #339933;
  border-radius: 20px;
  border: none;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  margin-top: 20px;
  cursor: pointer;
}

.product_btn {
  color: white;
  background-color: #339933;
  padding: 25px 120px;
  font-size: 28px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  margin: 40px 0;
  cursor: pointer;
}

.discount_btn {
  border-radius: 25px;
  width: 470px;
  background-color: transparent;
  border: 3px solid white;
  font-size: 28px;
  font-weight: 700;
  color: white;
  padding: 20px 120px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1380px) {
  .cart_btn {
    width: 350px;
  }
}

@media screen and (max-width: 1180px) {
  .cart_btn {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .discount_btn {
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header_button {
    display: none;
  }

  .discount_btn {
    padding: 10px 40px;
    border-radius: 20px;
    margin-top: 10px;
    width: 80vw;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid white;
  }

  .cart_btn {
    width: 80%;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
  }

  .more_btn {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 8px;
  }

  .sale_btn {
    padding: 10px 20px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 8px;
  }

  .categories_btn {
    padding: 3px 18px;
    font-size: 8px;
    line-height: 12px;
  }

  .product_btn {
    padding: 20px 70px;
    font-size: 18px;
    margin: 25px 0;
  }
}

@media screen and (max-width: 350px){
  .more_btn{
    padding: 10px 15px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 8px;
  }

  .sale_btn{
    padding: 10px 15px;
    font-size: 12px;
    line-height: 14px;
    border-radius: 8px;
  }
}
