.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 80px;
}

.left_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.right_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 610px;
  width: 100%;
}

.header_nav_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.burger_menu {
  display: none;
}

.header_nav_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.header_nav_item:not(:last-child) {
  margin-right: 40px;
}

.elem_green {
  color: #339933;
}

.cart_icon_container {
  position: relative;
}

.cart_icon_container > img {
  width: 30px;
  height: 30px;
}

.cart_count {
  position: absolute;
  right: -6px;
  bottom: -7px;
  width: 23px;
  height: 23px;
  font-size: 15px;
  font-weight: 600;
  background-color: #339933;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: white;
}

.close_icon_mobile {
  display: none;
}

.close_icon {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .header_nav {
    position: fixed;
    height: 100%;
    width: 50vw;
    top: 0;
    left: -50vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top-right-radius: 16px;
    border: 2px solid #339933;
    box-shadow: 00 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s linear;
    z-index: 1;
  }

  .close_icon_mobile {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .active {
    transform: translateX(100%);
  }

  .header_nav_list {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin: 0 auto;
    gap: 30px;
  }

  .header_nav_item {
    align-self: flex-start;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
  }

  .burger_menu {
    display: block;
    cursor: pointer;
    margin-left: 20px;
  }

  .cart {
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {
  .header_nav_item {
    font-size: 20px;
    line-height: 20px;
  }

  .header_nav_list {
    padding-left: 20px;
    gap: 30px;
  }

  .close_icon_mobile {
    top: 10px;
    right: 10px;
  }

  .close_icon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 390px) {
  .header_nav_item {
    font-size: 18px;
    line-height: 20px;
  }

  .header_nav_list {
    padding-top: 80px;
    gap: 20px;
  }
}
