.container {
  max-width: 1380px;
  margin: 20px auto 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.menu {
  max-width: 460px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger_menu {
  display: none;
}

.menu_wrapper {
  display: flex;
  /* margin-right: 173px; */
}

.menu_item {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  list-style: none;
  text-decoration: none;
  color: black;
}

.menu_item:not(:last-child) {
  margin-right: 40px;
}

.elem_green {
  color: #339933;
}

.cart_icon_container {
  position: relative;
}

.cart_icon_container > img {
  width: 30px;
  height: 30px;
}

.cart_count {
  position: absolute;
  right: -6px;
  bottom: -7px;
  width: 23px;
  height: 23px;
  font-size: 15px;
  font-weight: 600;
  background-color: #339933;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 40px;
  }

  .menu {
    justify-content: flex-end;
    gap: 20px;
  }

  .menu_wrapper {
    display: none;
  }

  .burger_menu {
    display: block;
    cursor: pointer;
  }

  .burger_icon {
    width: 24px;
    height: 16px;
    position: relative;
  }

  .burger_menu_content {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .burger_menu_wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .burger_menu_item {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    display: block;
    transition: background-color 0.3s ease;
  }

  .burger_menu_item:hover {
    background-color: #f0f0f0;
  }
}
