.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 30px 0;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
}

.left_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: auto;
}

.right_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: auto;
}

.footer_title {
  font-size: 40px;
  font-weight: 700;
}

.address_link {
  font-size: 40px;
  font-weight: 600;
  color: black;
  line-height: 52px;
  font-style: normal; 
}

.work_time_title {
  font-size: 18px;
  font-weight: 500;
}

.work_time_title > span {
  font-size: 24px;
  font-weight: 600;
}

.contact {
  font-size: 70px;
  font-weight: 700;
  line-height: 91px;
  color: black;
}

.footer_icons {
  display: flex;
}

.footer_icons > a {
  color: black;
  text-decoration: none;
}

.icon_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icon_link {
  margin-right: 35px;
}

.iframe {
  margin: 50px 0 40px;
}

@media screen and (max-width: 1300px) {
  .contact {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .address_link,
  .contact {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 600px) {
  .footer_title {
    font-size: 20px;
    line-height: 26px;
  }

  .icon {
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
  }

  .icon_wrapper > p {
    display: none;
  }

  .icon_link {
    margin: 0;
  }

  .footer_icons {
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
  }

  .left_wrapper,
  .right_wrapper {
    gap: 15px;
  }

  .work_time_title,
  .work_time_title > span,
  .contact,
  .address_link {
    font-size: 10px;
    line-height: 16px;
  }

  .iframe {
    margin: 20px 0;
  }
}
