.container {
  width: 300px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.container:hover > .product_btn {
  opacity: 1;
  transition: 0.3s ease;
}

.product_img {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.product_img > img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_btn {
  display: block;
  opacity: 0;
  background-color: #f1fff1;
  color: #339933;
  border: 2px solid #339933;
  border-radius: 21px;
  position: absolute;
  top: 220px;
  padding: 25px 90px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.discount_price {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #000000;
}

.price {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-decoration-line: line-through;
  color: #8b8b8b;
}

.discount {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #ff32a1;
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 25px 15px 10px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #3a3a3a;
  text-decoration: none;
  margin: 0 15px;
}

@media screen and (max-width: 1020px) {
  .container {
    justify-self: center;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 35vw;
    height: fit-content;
    align-self: flex-start;
  }

  .product_img {
    width: 35vw;
    height: fit-content;
  }

  .product_btn {
    padding: 10px 30px;
    top: 40%;
    font-size: 14px;
    line-height: 16px;
  }

  .title {
    font-size: 14px;
    line-height: 16px;
  }

  .discount_price {
    font-size: 22px;
  }
}

@media screen and (max-width: 450px) {
  .product_btn {
    display: none;
  }

  .title {
    font-size: 12px;
    line-height: 14px;
    margin: 0 10px;
  }

  .discount_price {
    font-size: 16px;
  }

  .price {
    font-size: 12px;
  }

  .discount {
    font-size: 12px;
  }

  .price_container {
    gap: 10px;
    margin: 10px 10px;
  }
}
